.cancelButton {
    width: 100px !important;
}

#btnClose, #btnSubmit {
    width: 115px !important;
}

#btnClose {
    left: 0% !important;
}

#btnSubmit {
    left: 22% !important;
}

.deleteButton {
    left: 25% !important;
    width: 100px !important;
}