.cancelButton {
    width: 100px !important;
}

#btnClose, #btnSubmit {
    width: 110px !important;
}

#btnClose {
    left: -5% !important;
}

#btnSubmit {
    left: -1% !important;
}

.deleteButton {
    left: 25% !important;
    width: 100px !important;
}