.cancelButton {
    width: 100px !important;
}

#btnClose, #btnSubmit {
    width: 110px !important;
}

#btnClose {
    left: -7% !important;
}

#btnSubmit {
    left: 19% !important;
}

.deleteButton {
    left: 25% !important;
    width: 100px !important;
}