@import "../_locales/__MSG_@@ui_locale__/popup.css";

@font-face {
    font-family: "stopclickbait";
    src: url("../fonts/stopclickbait.eot");
    src: url("../fonts/stopclickbait.eot?#iefix") format("embedded-opentype"), url("../fonts/stopclickbait.woff") format("woff"), url("../fonts/stopclickbait.ttf") format("truetype"), url("../fonts/stopclickbait.svg#stopclickbait") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DINCondBold";
    src: url("../fonts/DIN-Condensed-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}

html {
    height: 450px;
    overflow: hidden;
}
body {
    width: 250px;
    margin: 0;
    padding: 0;
    height: 450px;
    overflow: hidden;
}

#Header {
    height: 60px;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
    border-bottom: solid;
    border-bottom-width: 1px;
    display:flex;
    border-bottom-color: #c6c6c6;
    vertical-align: middle;
    justify-content: center;
}

#header_text {
    text-align: center;
    font-size: 31pt;
    font-family: DINCondBold, sans-serif;
    color: dimgrey;
    font-weight: normal;
    margin: 0;
    margin-top: 5px;
}

#back {
    cursor: pointer;
    font-size: 18pt;
    margin-left: -20px;
    margin-right: 3px;
    line-height: 50px;
    color: dimgrey;
}

#back:hover {
    background-color:rgba(0,0,0,0.2);
}
#Profile_Logged_In, #Profile_Logged_Out {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 220px;
}

#Profile_Logged_Out {
    height: 350px;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#profile_image {
    border-radius: 50%;
    height: 90px;
    margin: auto;
    display: block;
}

#profile_name {
    text-align: center;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#login {
    height: 35px;
    cursor: pointer;
}

#JoinUsMessage {
    color: dimgray;
}

/* Shared */
.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.1em;
    font-size: 16px;
    color: #FFF;
    background-color: transparent;
}

    .loginBtn:before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 34px;
        height: 100%;
    }

    .loginBtn:focus {
        outline: none;
    }

    .loginBtn:active {
        box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
    }
.buttons {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fWixed size
    margin: 0.2em;*/
    padding: 0 15px 0 15px;
    border: 1px solid black;
    text-align: center;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 16px;
    color: #000;
    background-color: transparent;
}
    .buttons:hover {
        background-color: #3f3f3f;
        color: white;
    }
    .buttons:focus {
        outline: 0;
    }
#Profile_Logged_Out button {
    color: #3b5999;
    background-color: transparent;
    border-color: #3b5999;
}
#Profile_Logged_Out button:hover {
    color: #fff;
    background-color: #3b5999;
    border-color: transparent;
}
 /*Facebook Button 
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;
   text-shadow: 0 -1px 0 #354C8C;
}

    .loginBtn--facebook:before {
        border-right: #364e92 1px solid;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
    }

    .loginBtn--facebook:hover,
    .loginBtn--facebook:focus {
        background-color: #5B7BD5;
        background-image: linear-gradient(#5B7BD5, #4864B1);
    }*/

#profile_name {
    margin: 10px;
    font-size: 20px;
}

.button_container {
    text-align: center;
}

    .button_container button {
        width: 100px;
    }

#settings {
    height: 130px;
    background: #f9f9f9;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #3f3f3f;
    margin: 0;
    padding: 0;
    border-top: 1px solid #c6c6c6;
    font-size: 9pt;
}

    #settings div {
        margin: 5px;
    }

#star_container {
    display: block;
    width: auto;
    text-align: center;
    height: 23px;
}

#star_icon {
    font-family: stopclickbait;
    /*font-size: 57px;
    position:absolute;
    width:100%;
    text-align: center;*/
    display: inline-block;
    font-size: 25px;
    position: relative;
}

#star_number {
    /*color: white;*/
    font-weight: bold;
    /*position:absolute;
    text-align: center;
    font-size: 9pt;
    line-height: 57px;
    height: 57px;
    width: 100%;*/
    display: inline-block;
    font-size: 18pt;
    bottom: 3px;
    left: 3px;
    position: relative;
}

#star_area {
    position: relative;
    margin-bottom: 10px;
    text-align: center;
    height: 23px;
    line-height: 23px;
}

.about {
    height: 20px;
    
    border-top: 1px solid #c6c6c6;
    color: #3f3f3f;
    background-color: #f9f9f9;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
}

    .about a {
        line-height: 20px;
        color: #3f3f3f;
        text-decoration: none;
    }
    .about a:hover {
        color: black;
    }

#CheckboxOptions {
    padding: 10px;
    height: 30px;
}

.checkboxline {
    width: inherit;
}

.checkboxline label {
    float: left;
}

.checkboxline input {
    float: right;
}

.checkboxline {
    width: auto;
    height: 15px;
    display: block;
}

#colorHeader {
    font-size: 12pt;
    margin-bottom: 0;
}

#colors {
    height: 20px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.colorButton {
    border: 1px solid white;
    display: inline-block;
    border-radius: 2px;
    width: 14px;
    height: 14px;
    margin: 5px;
    -webkit-box-shadow: 0 0 6px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 6px -2px rgba(0,0,0,1);
    box-shadow: 0 0 6px -2px rgba(0,0,0,1);
}

.selectedColorButton {
    -webkit-box-shadow: 0 0 2px 1px rgba(0,187,255,1);
    -moz-box-shadow: 0 0 2px 1px rgba(0,187,255,1);
    box-shadow: 0 0 2px 1px rgba(0,187,255,1);
}

.separator {
    margin-left: 5px;
    margin-right: 5px;
}

#logout {
    cursor: pointer;
}

#logout:hover {
    color: black;
}

#YourPosts {
    font-size: 10.5pt;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 371px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.commentBox {
    background-color: #3b5998;
    margin: 2.5px 5px 2.5px 5px;
    border-radius: 3px;
    display: flex;
    padding-left: 15px;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 1px 4px rgba(0, 0, 0, .1);
    flex-shrink: 0;
    flex-grow: 0;
    color: white;
    justify-content: space-between;
}

    .commentBox a {
        color: white;
    }

.commentLeft {
    display: flex;
    align-items: center;
    max-width: 160px;
}


.commentText {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 5px;
}

    .commentText p {
        margin: 0;
    }

a {
    text-decoration: none;
    padding-left: 4px;
    padding-top: 2px;
    padding-right: 3px;
}

.voteArea {
    width: 20%;
    float: right;
    text-align: right;
    padding-right: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    margin-right: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.deleteIcon {
    color: white;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    margin-right: 8px;
    margin-top: 8px;
    line-height: 12px;
    height: 12px;
    font-size: 12px;
    border: 0;
    font-family: "stopclickbait";
}

    .deleteIcon:focus {
        outline: 0;
    }

.upvoteStar {
    font-family: stopclickbait;
}

.deleteButtons {
    /*color: white;*/
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 402;
    height: 100%;
    width: 100%;
    display: none;
    border-radius: 3px;
    text-align: center;
}

.deleteButton {
    /*background-color: #3b5998;
    border: 0;*/
    height: 40px;
    margin-right: 10px;
    /*border-radius: 3px;*/
    cursor: pointer;
    top: 25%;
    left: 31%;
    position: absolute;
    width: 80px;
    pointer-events: auto;
    font-size: 12pt;
}

    .deleteButton:hover {
        /*background-color: #2a4887;*/
    }

.cancelButton {
    /*background-color: #828282;
    color: white;
    border: 0;*/
    height: 40px;
    /*border-radius: 3px;*/
    top: 25%;
    left: 51%;
    cursor: pointer;
    position: absolute;
    width: 80px;
    pointer-events: auto;
    font-size: 12pt;
}

    .cancelButton:hover {
        /*background-color: #707070;*/
    }