@import "../_locales/__MSG_@@ui_locale__/SCB-Container.css";

@font-face {
    font-family: "stopclickbait";
    src: url("../fonts/stopclickbait.eot");
    src: url("../fonts/stopclickbait.eot?#iefix") format("embedded-opentype"), url("../fonts/stopclickbait.woff") format("woff"), url("../fonts/stopclickbait.ttf") format("truetype"), url("../fonts/stopclickbait.svg#stopclickbait") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    /*width: 500px;*/
}

#card {
    padding: 5px;
    background-color: #e9ebee;
    font-family: 'Droid Sans Mono', monospace;
    /*border: 1px solid #cfcfcf;
            box-shadow: 2px 2px 0 0 #cfcfcf, 0 0 1px 1px #cfcfcf inset; */
    height: 450px;
    color: #828282;
}

a {
    color: #828282;
}

button {
    box-sizing: border-box;
    position: relative;
    color: #3b5998;
    /* width: 13em;  - apply for fWixed size
    margin: 0.2em;*/
    padding: 0 15px 0 15px;
    border: 2px solid;
    text-align: center;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 16px;
    background-color: transparent;
}

button:hover {
    background-color: "black";
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #828282;
    border-radius: 3px;
    width: 6px;
}

#submitCB {
    background-color: white;
    border: 0;
    border-radius: 4px;
    height: 30px;
    width: 100%;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 1px 4px rgba(0, 0, 0, .1);
    font-size: 12pt;
    color: #828282;
    resize: none;
    max-height: 254px;
    overflow: hidden;
}

    #submitCB::-webkit-input-placeholder {
        color: #bbb;
    }

    #submitCB::-moz-placeholder {
        color: #bbb;
    }

    #submitCB:-ms-input-placeholder {
        color: #bbb;
    }
    #submitCB:focus {
        outline-color: #fff;
        outline-width: 0.5;
    }

#submitArea {
    margin: 10px;
    margin-right: 37px;
    margin-bottom: 0px;
    position: relative;
}

#charCounter {
    left: -51%;
    top: 42px;
    display: none;
    float: left;
    position: absolute;
    color: #bbb;
}


.commentLeft {
    width: 85%;
    max-width: 85%;
}

#sortingArea {
    font-size: 9pt;
    margin-left: 11px;
    margin-right: 9px;
    position: relative;
    justify-content: space-between;
    width: inherit;
}

#TopNew {
    font-size: 9pt;
    /*margin-left: 11px;
    margin-right: 9px;*/
    text-align: right;
}

#commentArea {
    font-size: 12pt;
    margin-bottom: 9px;
    overflow: auto;
    bottom: 390px;
    max-height: 265px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}



.commentBox {
    background-color: white;
    margin: 0 5px 5px 10px;
    border-radius: 3px;
    display: flex;
    padding-left: 25px;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 1px 4px rgba(0, 0, 0, .1);
    flex-shrink: 0;
    flex-grow: 0;
}

    .commentBox:hover {
        background-color: #3b5998;
        color: white;
        box-shadow: inset 0px 0px 0px 1.5px rgba(0,0,0,0.1), 0px 1px 1px rgba(0,0,0,0.05);
    }
    .commentBox:hover a {
        color: white;
    }

.blockedCommentBox:hover {
    background-color: white;
    margin: 0 5px 5px 10px;
    border-radius: 3px;
    display: flex;
    position: relative;
    box-shadow: inset 0px 0px 0px 1.5px rgba(0,0,0,0.1), 0px 1px 1px rgba(0,0,0,0.05);
}

.commentBox:active, .cancelButton:active, .deleteButton:active, {
    -moz-filter: brightness(80%);
    -ms-filter: brightness(80%);
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

.clickedCommentBox, .ownComment {
    background-color: #3b5998;
    color: white;
    margin: 0px 5px 5px 10px;
    border-radius: 3px;
    display: flex;
    box-shadow: inset 0px 0px 0px 1.5px rgba(0,0,0,0.1), 0px 1px 1px rgba(0,0,0,0.05);
}
.clickedCommentBox a, .ownComment a {
    color: white;
}
    /*.clickedCommentBox, .ownComment *:not(.blockedCommentBox) {
        color: white;
    }*/

.commentText {
    margin-top: 15px;
    padding-left: 4px;
    padding-top: 2px;
    margin-bottom: 8px;
}

    .commentText p {
        margin: 0;
    }

.userArea {
    font-size: 9pt;
    padding-bottom: 15px;
    padding-top: 7px;
}

    .userArea a, .userArea span {
    }

a, .userName {
    text-decoration: none;
    padding-left: 4px;
    padding-top: 2px;
    padding-right: 3px;
}

.voteArea {
    width: 20%;
    float: right;
    text-align: right;
    padding-right: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
}

.deleteIcon {
    color: white;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    margin-right: 8px;
    margin-top: 8px;
    line-height: 12px;
    height: 12px;
    font-size: 12px;
    border: 0;
    font-family: "stopclickbait";
}

.deleteIcon:focus {
    outline: 0;
}

.upvoteStar {
    font-family: stopclickbait;
    margin-bottom: 5px;
}

.deleteButtons {
    /*color: white;*/
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 402;
    height: 100%;
    width: 100%;
    display: none;
    border-radius: 3px;
    text-align: center;
}

.deleteButton {
    /*background-color: #3b5998;
    border: 0;*/
    height: 40px;
    margin-right: 10px;
    /*border-radius: 3px;*/
    cursor: pointer;
    top: 25%;
    left: 31%;
    position: absolute;
    width: 80px;
    pointer-events: auto;
    font-size: 12pt;
}

    .deleteButton:hover {
        /*background-color: #2a4887;*/
    }

.cancelButton {
    /*background-color: #828282;
    color: white;
    border: 0;*/
    height: 40px;
    /*border-radius: 3px;*/
    top: 25%;
    left: 51%;
    cursor: pointer;
    position: absolute;
    width: 80px;
    pointer-events: auto;
    font-size: 12pt;
}

    .cancelButton:hover {
        /*background-color: #707070;*/
    }

#pollArea {
    height: 40px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 6px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: calc(100% - 30px);
    bottom: 0;
    color: #3b5999;
}

#pollBar {
    border-radius: 3px;
    position: absolute;
    box-shadow: 0 0 1px rgba(0, 0, 0, .15) inset, 0 1px 4px rgba(0, 0, 0, .1);
    border: 0;
    height: 40px;
    width: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #fff;
}
    #pollBar[value] {
        background-color: #2ecc71;
        color: #d56969;
    }

        #pollBar[value]::-webkit-progress-bar {
            background-color: #2ecc71;
            border-radius: 3px;
        }

        #pollBar[value]::-webkit-progress-value {
            background-color: #d56969;
            border-radius: 3px;
        }

        #pollBar[value]::-moz-progress-bar {
            background-color: #d56969;
            border-radius: 3px;
        }

    #pollBar:not([value]) {
        background-color: #fff;
        border: 1px solid #3b5999;
        border-radius: 3px;
    }
        #pollBar:not([value])::-webkit-progress-bar {
            background-color: #fff;
            border: 1px solid #3b5999;
            border-radius: 3px;
        }

        #pollBar:not([value])::-moz-progress-bar {
            background-color: #fff;
            border: 1px solid #3b5999;
            border-radius: 3px;
        }

#pollAnswerYes {
    float: left;
    text-align: left;
    margin-left: 25px;
    display: none;
    padding: 5px;
    color: #fff;
}

#pollAnswerBar {
    position: absolute;
    width: inherit;
    display: flex;
    line-height: 15px;
    font-size: 9pt;
    justify-content: center;
}

#pollAnswerNo {
    float: right;
    padding: 5px;
    text-align: right;
    margin-right: 25px;
    display: none;
    color: #fff;
}

#pollButtonArea {
    width: inherit;
    line-height: 40px;
    display: inline-block;
    font-size: 12pt;
    color: #3b5999;
}

#pollBttns {
    float: right;
    margin-right: 10px;
    display: inline-block;
}

    #pollBttns button {
        line-height: 40px;
        font-size: 12pt;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }

    #pollBttns button:focus {
        outline: 0;
    }
#pollText {
    margin-left: 10px;
    float: left;
    position: absolute;
}

#pollButtonYes {
    float: left;
}

#pollButtonNo {
    float: right;
}

#pictureBar {
    display: none;
}

#controlBar {
    display: none;
    margin: 0;
    /*display: flex; */
    height: 0px;
    padding: 0;
    margin-left: 5px;
    position: relative;
    top: -65px;
    left: 55%;
}

#leftBar {
    width: 50%;
    height: 100%;
    display: flex; /*  */
    justify-content: flex-start;
    align-items: center;
}

#rightBar {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    vertical-align: bottom;
}

#btnEmoji, #btnPhoto {
    background-color: transparent;
    border: 0;
    font-size: 18pt;
    cursor: pointer;
    font-family: "stopclickbait";
}

#btnEmoji, #btnPhoto {
    display: none;
}

#btnClose, #btnSubmit {
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    width: 80px;
    font-size: 12pt;
    top: 25px;
    position: absolute;
}

#btnClose {
    left: 9%;
}

#btnSubmit {
    margin-left: 10px;
    left: 27%;
}


#TopNew {
    margin-left: 7px;
}
